<app-front-team></app-front-team>

<div class="tc-title-a mv30">Contact Us</div>

<div class="tc-wp-a tac mb30">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni veniam voluptatibus? <br>
    Open from 9 am to 9 pm, 7 days a week. <br>
    For direct bookings feel free to call us directly on +971 99 999 999 and/or contact us via example@example.com<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo voluptatibus?
  </div>

  <button (click)="appointmentPop()" class="tc-btn-b mt30"><span class="tc-btn-b-text">Make an appointment</span></button>
</div>

<app-map [map]="initMap"></app-map>
