.e{
  &-hover{
    background-position: 0 84%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%, transparent 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    transition: all 100ms linear;

    &:hover{
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
    }
  }
}
