<div class="wp-btw">
  <div class="w49p tc-card-a">
    <form>
      <mat-tab-group>
        <mat-tab label="Personal info">
          <div class="pall20">
            <mat-form-field class="w100p">
              <input matInput placeholder="Last Name">
            </mat-form-field>
            <mat-form-field class="w100p">
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="w100p">
              <input matInput [matDatepicker]="picker" placeholder="Birth date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w100p">
              <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"></textarea>
            </mat-form-field>
            <mat-form-field class="w100p">
              <input matInput placeholder="Phone">
            </mat-form-field>
            <mat-form-field class="w100p">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="w100p">
              <input matInput placeholder="Blood type">
            </mat-form-field>
          </div>
        </mat-tab>

        <mat-tab label="State of health">
          <div class="pall20">
            <div>
              Heart (angina, myocardial infarction, etc.):
              <mat-form-field class="w100p z-mat-input-a">
                <textarea matInput [disabled]="!check1.checked" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"></textarea>
                <mat-checkbox #check1 matSuffix></mat-checkbox>
              </mat-form-field>
            </div>
            <div>
              Blood pressure (high, low):
              <mat-form-field class="w100p z-mat-input-a">
                <textarea matInput [disabled]="!check2.checked" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"></textarea>
                <mat-checkbox #check2 matSuffix></mat-checkbox>
              </mat-form-field>
            </div>
            <div>
              Allergy to medicines:
              <mat-form-field class="w100p z-mat-input-a">
                <textarea matInput [disabled]="!check3.checked" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"></textarea>
                <mat-checkbox #check3 matSuffix></mat-checkbox>
              </mat-form-field>
            </div>
            <div>
              What drugs do you take? (name/dose):
              <mat-form-field class="w100p z-mat-input-a">
                <textarea matInput [disabled]="!check4.checked" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"></textarea>
                <mat-checkbox #check4 matSuffix></mat-checkbox>
              </mat-form-field>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Hemorrhage after injection:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Diseases of the ears:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Disease of the nose and paranasal sinuses:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Diabetes:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Epilepsy:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Rheumatism:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Mental illness:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              Hepatitis:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
            <div class="wp-btw_cen pv15 e-hover">
              AIDS:
              <mat-checkbox matSuffix></mat-checkbox>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>


      <div class="tac">
        <button mat-raised-button color="primary">Save</button>
      </div>
    </form>
  </div>


  <div class="w49p">
    <div class="tc-card-a mb20">
      <div *ngIf="teeth_box == 'colors'">
        <div class="wp-btw_cen">
          <h2 class="tc-h3">About colors</h2>
          <button (click)="teeth_box = 'teeth'" mat-raised-button>Your teeth</button>
        </div>

        <div class="tc-list-item">
          <i [inlineSVG]="'../../assets/i/tooth.svg'" class="tc-svg white"></i>
          <h4 class="fw400">Removed</h4>
        </div>
        <div class="tc-list-item">
          <i [inlineSVG]="'../../assets/i/tooth.svg'" class="tc-svg gray"></i>
          <h4 class="fw400">Cured</h4>
        </div>
        <div class="tc-list-item">
          <i [inlineSVG]="'../../assets/i/tooth.svg'" class="tc-svg blue"></i>
          <h4 class="fw400">Need to cure</h4>
        </div>
      </div>


      <div *ngIf="teeth_box == 'teeth'">
        <div class="wp-btw_cen">
          <h2 class="tc-h3">Your teeth</h2>
          <button (click)="teeth_box = 'colors'" mat-raised-button color="primary">Colors info</button>
        </div>

        <app-teeth (onTooth)="onTooth($event)" [teeth]="teeth"></app-teeth>
      </div>


      <div *ngIf="teeth_box == 'tooth'">
        <div class="wp-btw_cen mb10">
          <h2 class="tc-h3">Tooth #{{tooth.id}}</h2>
          <button (click)="teeth_box = 'teeth'" mat-raised-button>Your teeth</button>
        </div>

        <img [src]="tooth.img" alt="" style="width: 35px;margin-right: 10px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at mollitia quam? Atque, eligendi enim excepturi
        quasi quos voluptas voluptatibus! Eius iste necessitatibus nostrum reiciendis saepe soluta tempore ut
        voluptates?
      </div>
    </div>


    <div class="tc-card-a">
      <h2 class="tc-h3">Visit to the doctor</h2>
      <div *ngFor="let tooth of teeth">
        <div *ngIf="tooth.type == 'need2cure'" class="tc-list-item">
          <img [src]="tooth.img" alt="" class="tc-list-item-tooth">
          {{tooth.visit_at | date: 'MMMM EEEE d'}} at {{tooth.visit_at | date: 'HH:mm'}}
        </div>
      </div>
    </div>
  </div>
</div>


