.footer{
  padding: 30px 0 0;
  display: grid;
  grid-template-areas:
    "a a b b c c d d"
    "e e e e e e e e";
  text-align: center;
  align-items: center;

  &-item{
    &-a{
      text-align: left;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
    }
    &-i{
      padding: 0 !important;
      min-width: 50px !important;
      font-size: 26px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-a{
    grid-area: a;
  }
  &-b{
    grid-area: b;
  }
  &-c{
    grid-area: c;
  }
  &-d{
    grid-area: d;
  }
  &-e{
    margin: 5px 0;
    grid-area: e;
    font-size: 12px;
    img{
      width: 250px;
      filter: invert(100%);
    }
  }

  &-copy{
    align-self: end;
    background: url('../../../../assets/i/bg.png'), #3d7c96;
    color: white;
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }
}
