<div class="tc-wp-a footer">
  <div class="footer-a footer-item">
    <a mat-button href="tel:97143558808">
      <span class="zocial-call footer-item-i"></span>
      <div class="footer-item-a">
        + 971 99-999-999
      </div>
    </a>
  </div>


  <div class="footer-b">
    <a mat-button href="mailto:info@dubaiskyclinic.com">
      <span class="zocial-email footer-item-i"></span>
      <div class="footer-item-a">
        info@example.com
      </div>
    </a>
  </div>


  <div class="footer-c">
    <button (click)="openMap()" mat-button>
      <span class="fontawesome-map-marker footer-item-i"></span>
      <span class="footer-item-a">Dubai, U.A.E</span>
    </button>
  </div>


  <div class="footer-d">
    <a mat-button href="https://www.facebook.com/" target="_blank" class="fontawesome-facebook footer-item-i"></a>
    <a mat-button href="https://twitter.com/" target="_blank" class="fontawesome-twitter footer-item-i"></a>
    <a mat-button href="https://www.youtube.com/user/" target="_blank" class="zocial-youtube footer-item-i"></a>
    <!--<a mat-button href="http://dubaiskyclinic.com/blog/" target="_blank" class="zocial-rss footer-item-i"></a>-->
  </div>



  <div class="footer-e">
    <img src="assets/i/icons/credit-cards.png" alt="">
  </div>
</div>


<div class="footer-copy">
  © 2017 All rights reserved. Designed & Developed By: Di3 Group
</div>
