@import "~scss/var";


.e{
  &-box{
    height: calc(100% - 75px);
    overflow-y: scroll;
    display: grid;
      grid-template-areas:
        "content"
        "content"
        "content"
        "content"
        "content"
        "footer";
      align-items: flex-start;

    &-content{
      grid-area: content;
      align-self: stretch;
    }

    &-footer{
      z-index: 1;
      grid-area: footer;
      //align-self: end;
      align-self: stretch;
      display: grid;
      min-height: 160px;
      color: $c4;
      background: url('../../assets/i/bg.png'), $c1;
    }
  }
}

