<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-front-menu></app-front-menu>
  </mat-sidenav>



  <app-header class="tc-header"></app-header>

  <div id="frontRout" class="e-box">
    <div class="e-box-content"><router-outlet (deactivate)="onDeactivate()"></router-outlet></div>

    <app-footer class="e-box-footer"></app-footer>
  </div>
</mat-sidenav-container>
