<div class="tc-wp-a pt30 pb50">
  <div class="tc-title-a">Educational Videos</div>

  <div class="box">
    <div *ngFor="let item of videos" [ngClass]="{loading: item.loading}" class="box-a">
      <app-logo *ngIf="item.loading" class="box-a-loading"></app-logo>

      <iframe [ngClass]="{active: !item.loading}" class="box-a-video" [src]="item.url | safe" (load)="onVideoLoad(item)" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


