:host { display: block; }


.box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  &-a{
    position: relative;
    &.loading{
      box-shadow: 0 0 20px -7px #349cce;
      border-radius: 5px;
    }


    &-video{
      width: 100%;
      height: 300px;
      vertical-align: middle;
      opacity: 0;
      transition: all 200ms linear;

      &.active{
        opacity: 1;
      }
    }

    &-loading {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      /deep/ .tc-logo-a{
        width: 70px;
        height: 100px;
      }
    }
  }
}

