:host { display: block; }

.gall{
  padding: 30px 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  &-box{
    cursor: pointer;
    text-align: center;
    &-img{
      width: 48%;
      display: inline-block;
      vertical-align: middle;
      filter: grayscale(50%);
      transition: all 200ms linear;
    }

    &:hover &-img{
      filter: grayscale(0);
    }

    &:active &-img{
      transform: scale(0.98);
      transition: all 50ms linear;
    }
  }
}

