<div class="tc-wp-a gall">
  <div [routerLink]="['/gallery', 'Dental Implants']" class="gall-box">
    <div class="tc-title-a">Dental Implants</div>
    <img class="gall-box-img" src="../../../../assets/i/workgallery/dental-implants/di-01.jpg" alt="">
    <img class="gall-box-img" src="../../../../assets/i/workgallery/dental-implants/di-02.jpg" alt="">
  </div>
  <div [routerLink]="['/gallery', 'Tooth Extraction']" class="gall-box">
    <div class="tc-title-a">Tooth Extraction</div>
    <img class="gall-box-img" src="../../../../assets/i/workgallery/tooth-extraction/te-01.jpg" alt="">
    <img class="gall-box-img" src="../../../../assets/i/workgallery/tooth-extraction/te-02.jpg" alt="">
  </div>
  <div [routerLink]="['/gallery', 'Cosmetic Dentistry']" class="gall-box">
    <div class="tc-title-a">Cosmetic Dentistry</div>
    <img class="gall-box-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/cd-01.jpg" alt="">
    <img class="gall-box-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/cd-02.jpg" alt="">
  </div>
  <div [routerLink]="['/gallery', 'Teeth Straightening']" class="gall-box">
    <div class="tc-title-a">Teeth Straightening</div>
    <img class="gall-box-img" src="../../../../assets/i/workgallery/teeth-straightening/ts-01.jpg" alt="">
    <img class="gall-box-img" src="../../../../assets/i/workgallery/teeth-straightening/ts-02.jpg" alt="">
  </div>
  <div [routerLink]="['/gallery', 'Orthopedic stomatology']" class="gall-box">
    <div class="tc-title-a">Orthopedic stomatology</div>
    <img class="gall-box-img" src="../../../../assets/i/workgallery/orthopedic-stomatology/os-01.jpg" alt="">
    <img class="gall-box-img" src="../../../../assets/i/workgallery/orthopedic-stomatology/os-02.jpg" alt="">
  </div>
  <div [routerLink]="['/gallery', 'Children\'s dentistry']" class="gall-box">
    <div class="tc-title-a">Children's dentistry</div>
    <img class="gall-box-img" src="../../../../assets/i/workgallery/children's-dentistry/cd-01.jpg" alt="">
    <img class="gall-box-img" src="../../../../assets/i/workgallery/children's-dentistry/cd-02.jpg" alt="">
  </div>
  <!--<div [routerLink]="['/gallery', 'Diagnostics']" class="gall-box">-->
  <!--<div class="tc-title-a">Diagnostics</div>-->
  <!--<img class="gall-box-img" src="../../../../assets/i/workgallery/7.jpg" alt="">-->
  <!--</div>-->
  <!--<div [routerLink]="['/gallery', 'General Dentistry']" class="gall-box">-->
  <!--<div class="tc-title-a">General Dentistry</div>-->
  <!--<img class="gall-box-img" src="../../../../assets/i/workgallery/7.jpg" alt="">-->
  <!--</div>-->
</div>


