:host{
  display: block;
  width: 100%;
  font-size: 0;
}


svg{
  width: 100%;
  height: 100%;

  path{
    transition: fill .2s;

    &:hover{
      fill: rgba(2, 179, 228, 0.1);
      stroke: rgb(2, 179, 228);
      stroke-width: 3px;
    }
  }
}
