<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="1080.000000pt"
     height="547.000000pt"
     viewBox="0 0 1080.000000 547.000000"
     preserveAspectRatio="xMidYMid meet">
  <defs>
    <pattern patternTransform="translate(0,547) scale(10,-10) translate(0,54.7)"
             patternUnits="userSpaceOnUse"
             id="jukgniqes"
             x="0"
             y="0"
             width="1080"
             height="547"
             viewbox="0 0 1080 547"
             preserveaspectratio="none">
      <image preserveaspectratio="none"
             x="0"
             y="0"
             width="1080"
             height="547"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="assets/i/doctor/all.png">
      </image>
    </pattern>
  </defs>

  <g transform="translate(0.000000,547.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
    <rect x="0" y="0" width="10800" height="5470" fill="url(#jukgniqes)"></rect>

    <a matTooltip="Dr. A" matTooltipPosition="above" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#" target="_blank">
      <path fill="rgba(2,179,228,0)" stroke="none" d="M6090 5460 l-45 -8 -47 -20 -46 -21 -9
  -13 -8 -13 -27 -14 -26 -14 -47 -38 -46 -38 -18 -6 -19 -6 -35 -54 -36 -54
  -22 -63 -22 -63 1 -135 0 -135 10 -50 11 -50 -26 -27 -26 -28 -5 -54 -4 -54
  22 -69 22 -68 35 -53 36 -52 39 -17 38 -17 11 -38 10 -38 9 -108 10 -107 -33
  -28 -32 -28 -37 -25 -38 -24 0 -11 0 -10 -21 6 -21 7 -67 -64 -66 -63 -36 -33
  -36 -33 -33 -4 -34 -4 -30 -30 -31 -30 -90 -45 -90 -46 -16 0 -17 0 -41 -18
  -41 -19 -48 -45 -49 -44 -25 -45 -26 -44 -16 -90 -16 -90 -8 -125 -7 -125 9
  -65 9 -65 37 -45 38 -45 23 -65 23 -65 1 -195 2 -195 37 -100 37 -100 16 -40
  16 -40 44 -120 44 -120 15 -50 15 -50 14 -91 14 -92 20 -51 19 -52 -20 -67
  -20 -67 -25 -100 -24 -100 -9 -210 -10 -210 -6 -145 -7 -146 7 -67 8 -67 1260
  0 1261 0 -8 93 -7 92 -29 178 -29 179 -10 18 -9 18 -35 28 -35 29 -40 170 -39
  170 6 6 7 7 109 11 108 11 56 -16 56 -17 87 6 87 6 39 24 38 25 49 50 49 50
  13 79 14 78 11 124 10 125 -16 100 -16 101 -15 60 -15 60 -21 35 -21 35 2 42
  2 42 -34 48 -34 48 -32 60 -33 60 -17 20 -18 20 -19 33 -19 33 -45 28 -45 28
  -22 74 -22 74 -7 125 -6 125 -35 65 -35 65 -53 80 -52 80 -8 25 -8 25 -18 26
  -18 26 -63 23 -63 23 -25 17 -25 17 -80 31 -80 30 -30 16 -30 16 -51 0 -50 0
  -35 26 -34 26 -55 28 -55 28 -83 91 -83 90 -8 51 -8 51 -23 24 -23 25 11 95
  12 95 19 31 20 32 15 61 15 61 6 56 6 56 37 24 37 24 18 39 18 39 6 86 5 86
  -16 105 -16 105 -6 90 -6 90 -10 35 -10 35 -30 78 -31 78 -16 12 -16 12 -15
  29 -15 28 -23 9 -23 9 -5 15 -6 15 -24 0 -23 0 -16 30 -16 30 -9 0 -10 0 0
  -10 0 -10 -20 0 -20 0 0 20 0 21 -12 -2 -13 -2 -25 10 -25 11 -48 21 -49 21
  -61 -1 -62 -1 -45 -8z">
      </path>
    </a>


    <a matTooltip="Dr. B" matTooltipPosition="above" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#" target="_blank">
      <path fill="rgba(2,179,228,0)" stroke="none" d="M1177 4428 l-12 -8 -21 0 -21 0 -70
  -35 -69 -35 -56 -52 -56 -53 -30 -61 -30 -60 -17 -56 -16 -57 -4 -78 -4 -78 0
  -68 -1 -67 -24 -10 -25 -9 -6 -33 -6 -33 19 -85 19 -86 12 -22 12 -22 29 -15
  29 -15 16 0 15 0 0 -22 0 -23 20 -70 19 -70 12 -42 13 -41 -61 -67 -61 -66
  -22 -45 -21 -45 -6 -32 -6 -32 -13 -26 -13 -27 -11 -47 -10 -46 -28 -25 -27
  -25 -38 -20 -38 -20 -67 2 -67 1 -72 -10 -72 -11 -37 -17 -36 -17 -36 -55 -35
  -56 -24 -60 -25 -61 -8 -120 -8 -120 -12 -35 -12 -35 -30 -83 -31 -83 11 -132
  12 -132 6 -150 7 -150 8 -16 8 -16 47 -22 46 -22 56 -7 55 -7 11 -55 11 -55
  31 -45 31 -45 38 -109 39 -108 -11 -47 -11 -46 -35 -160 -36 -160 -26 -160
  -25 -160 -4 -18 -4 -17 1049 0 1049 0 0 88 0 87 -10 85 -9 85 -7 47 -7 48 47
  0 46 0 0 6 0 5 -10 19 -10 19 -50 231 -51 232 -34 45 -35 46 0 9 0 9 72 86 71
  86 44 206 43 206 21 29 21 28 -6 38 -6 38 14 11 13 11 6 67 7 66 21 23 22 23
  -14 18 -14 18 -31 38 -32 38 -6 33 -6 32 -24 32 -23 32 -17 43 -16 43 -44 28
  -44 27 -21 25 -21 24 -23 -5 -22 -6 -88 20 -87 21 -36 15 -36 15 -95 15 -95
  15 -23 13 -23 12 -68 95 -67 95 -23 28 -24 29 0 61 0 62 15 83 14 84 35 39 35
  38 22 43 22 43 18 70 18 70 13 4 13 4 31 31 30 31 24 96 23 96 -6 25 -7 26
  -21 5 -22 6 7 130 7 130 -16 65 -15 66 -34 67 -35 68 -47 49 -47 48 -52 34
  -52 33 -29 7 -29 7 -35 20 -34 21 -103 1 -103 1 -13 -8z">
    </path>
    </a>


    <a matTooltip="Dr. C" matTooltipPosition="above" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#" target="_blank">
      <path fill="rgba(2,179,228,0)" stroke="none" d="M9000 4338 l-25 -10 -78 -14 -78 -14
  -72 -33 -72 -34 -56 -44 -56 -44 -27 -32 -26 -31 -25 -54 -24 -53 -41 -158
  -41 -158 -14 -77 -14 -77 -5 -50 -6 -50 -10 -251 -10 -251 -25 -169 -25 -169
  -15 -67 -15 -67 -56 -53 -56 -53 -15 -29 -15 -30 -10 -30 -9 -31 -9 -59 -9
  -59 15 -28 14 -28 0 -50 0 -50 10 -6 10 -6 14 -33 14 -33 27 -139 28 -139 -6
  -125 -6 -125 -16 -95 -16 -95 -27 -39 -27 -40 -58 -42 -58 -43 -37 -6 -37 -6
  -21 -4 -21 -5 -18 -92 -17 -93 -5 -75 -4 -75 20 -33 21 -32 32 -19 33 -20 32
  -23 32 -23 1 -9 0 -8 -24 -19 -24 -19 -16 -49 -16 -50 0 -13 0 -14 21 -23 22
  -23 -2 -67 -2 -66 -8 -35 -9 -35 -7 -18 -7 -17 1353 2 1353 3 67 157 68 158
  11 62 12 63 9 31 9 30 0 46 0 46 -15 36 -15 36 -40 197 -40 198 -25 105 -25
  105 -49 150 -49 150 -6 65 -5 65 -50 145 -49 145 -41 115 -42 115 -19 40 -19
  40 -17 75 -17 75 -14 28 -14 27 -74 94 -75 94 -48 20 -47 20 -73 10 -73 10
  -49 32 -49 31 -34 38 -34 38 -6 129 -6 129 -26 149 -25 149 -14 56 -14 56 -17
  90 -16 90 -16 65 -15 65 -30 90 -30 90 -38 65 -38 65 -34 31 -33 31 -50 35
  -50 36 -39 16 -38 16 -67 -1 -66 0 -25 -11z">
      </path>
    </a>


    <a matTooltip="Dr. D" matTooltipPosition="above" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#" target="_blank">
      <path fill="rgba(2,179,228,0)" stroke="none" d="M3655 4250 l-39 -20 -28 0 -27 0 -6
  -10 -6 -10 -20 10 -20 11 -30 -31 -31 -30 -7 0 -7 0 -28 -29 -28 -29 -34 -54
  -34 -53 -21 -45 -21 -45 -5 -87 -6 -88 12 -104 13 -105 -7 -11 -7 -11 -15 13
  -15 12 -14 -19 -14 -19 5 -15 4 -16 2 -50 1 -50 -7 -71 -8 -71 22 -22 21 -21
  35 14 35 15 3 -7 4 -7 22 -66 22 -67 36 -58 35 -59 18 -70 18 -70 12 -60 11
  -60 -73 -77 -73 -76 -68 -57 -68 -56 -34 -23 -34 -24 -48 -7 -48 -7 -90 -28
  -90 -29 -26 -5 -26 -6 -13 -32 -12 -33 -7 -15 -8 -15 -30 -14 -31 -14 -19 -36
  -18 -36 -37 -47 -38 -47 0 -10 0 -11 -35 -31 -35 -32 0 -56 -1 -56 -13 -18
  -14 -18 5 -38 5 -39 -21 -28 -21 -29 -40 -195 -41 -195 -5 -17 -5 -17 -65 -78
  -64 -77 0 -9 0 -8 29 -42 29 -42 17 -85 17 -85 33 -140 33 -140 21 -53 20 -54
  16 -24 15 -24 75 -42 75 -43 0 -21 0 -22 -20 -97 -20 -97 0 -14 0 -14 1080 0
  1080 0 -5 38 -5 37 -15 115 -16 115 -16 80 -16 80 -1 120 -1 120 64 150 63
  150 24 91 23 92 6 88 7 89 18 32 19 32 -16 12 -15 13 6 36 5 35 11 195 10 195
  15 80 14 80 12 110 11 110 -6 70 -6 70 -25 75 -25 75 -19 31 -19 32 -58 28
  -58 28 -76 1 -75 1 -51 17 -52 18 -58 -10 -59 -10 -24 -7 -23 -7 7 22 7 23
  -29 30 -28 30 -82 49 -83 50 0 42 0 42 26 108 27 108 16 -7 16 -7 29 -1 30 -1
  18 30 17 31 12 84 11 85 5 36 5 37 -11 21 -12 21 -19 0 -19 0 -6 -10 -6 -10
  -15 0 -15 0 7 23 7 22 0 146 -1 146 -12 39 -13 39 -35 67 -35 67 -41 40 -42
  41 -90 46 -89 45 -75 15 -75 14 -20 0 -21 0 -39 -20z">

      </path>
    </a>
  </g>
</svg>


