<app-map [map]="initMap"></app-map>


<div class="tc-wp-a">
  <div class="home-a">
    <div class="tc-title-a">
      Your Smile is Our Top Priority
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto aspernatur distinctio dolor dolorum ea expedita harum inventore iusto libero, obcaecati officiis porro quasi quia quis, quos, sit vel vitae. Consectetur corporis, deleniti ex exercitationem in ipsam iusto maiores ut vel?

    <div class="tac mt20">
      <a routerLink="/about" mat-button color="primary">Learn more about us <i class="material-icons">keyboard_arrow_right</i></a>
    </div>
  </div>

  <div class="home-b">
    <app-front-team></app-front-team>
  </div>
</div>



<div class="tc-bg-a home-c">
  <div class="tc-wp-a">
    <div class="tc-title-b">OUR Services</div>

    <div class="tc-serv">
      <div [routerLink]="['/service', item.id]" *ngFor="let item of services" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(' + item.img + ') no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">{{item.title}}</div>
      </div>
    </div>
  </div>
</div>



<div class="home-d">
  <div class="tc-wp-a">
    <div class="tc-title-a">
      Live example of our work
    </div>
    <iframe class="home-video" src="https://www.youtube.com/embed/WhzbFaNueKU" frameborder="0" allowfullscreen></iframe>
  </div>
</div>



<div class="home-e mb50">
  <div class="tc-wp-a">
    <div class="tc-title-a">
      Putting the Brakes in Time
    </div>

    <div class="home-e-box">
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">50$</div>
        <img class="home-e-box-a-img" src="assets/i/home-tooth/1.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">100$</div>
        <img class="home-e-box-a-img" src="assets/i/home-tooth/2.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">200$</div>
        <img class="home-e-box-a-img" src="assets/i/home-tooth/3.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">400$</div>
        <img class="home-e-box-a-img" src="assets/i/home-tooth/4.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">800$</div>
        <img class="home-e-box-a-img" src="assets/i/home-tooth/5.png" alt="">
      </div>
      <div class="home-e-box-a">
        <div class="home-e-box-a-price">1500$</div>
        <img class="home-e-box-a-img" src="assets/i/home-tooth/6.png" alt="">
      </div>
    </div>

    <button (click)="appointmentPop()" class="tc-btn-b mt30"><span class="tc-btn-b-text">Make an appointment</span></button>
  </div>
</div>




