:host { display: block; }

.home{
  &-a{
    text-align: center;
    padding: 50px 100px 0;
  }

  &-b{
    margin-top: 50px;
  }

  &-c{
    padding: 50px 0 0;
  }

  &-d{
    padding: 50px 0 0;
  }

  &-e{
    padding: 50px 0 0;
    text-align: center;
    &-box{
      padding: 50px 0 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      &-a{
        &-price{
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 15px;
        }

        &-img{
          height: 133px;
        }
      }
    }
  }

  &-video{
    width: 100%;
    height: 500px;
  }
}
