<div class="wp-btw_cen">
  <div class="w33p">
    <button mat-raised-button
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
      Previous
    </button>
    <button mat-raised-button
            color="primary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
      Today
    </button>
    <button mat-raised-button
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
      Next
    </button>
  </div>

  <div class="w33p tac">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>

  <div class="w33p tar">
    <button mat-raised-button
            (click)="view = 'month'"
            [class.active]="view === 'month'">
      Month
    </button>
    <button mat-raised-button
            (click)="view = 'week'"
            [class.active]="view === 'week'">
      Week
    </button>
    <button mat-raised-button
            (click)="view = 'day'"
            [class.active]="view === 'day'">
      Day
    </button>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh">
  </mwl-calendar-day-view>
</div>
