<div class="tc-wp-a pt30 pb50">
  <div class="tc-title-a">{{name}}</div>

  <div class="box">
    <div class="box-item">
      <div class="tc-title-c">patient 1</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient1/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient1/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 2</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient2/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient2/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 3</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient3/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient3/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 4</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient4/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/dental-implants/patients/Patient4/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 5</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient1/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient1/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 6</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient2/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient2/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 7</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient3/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient3/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>


    <div class="box-item">
      <div class="tc-title-c">patient 8</div>
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient4/01.jpg" alt="">
      <img class="box-item-img" src="../../../../assets/i/workgallery/cosmetic-dentistry/patients/Patient4/02.jpg" alt="">
      <div class="box-item-desc">Doctor: <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i></div>

      <div class="box-item-desc">
        <div class="dibB">Patient:</div>
        <div class="tc-stars">
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
          <span class="tc-stars-a--b">&#9734;</span>
        </div>
      </div>
    </div>
  </div>
</div>
