:host { display: block; }

.box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  &-item{
    text-align: center;
    &-img{
      width: 48%;
      display: inline-block;
      vertical-align: middle;
      border-radius: 5px;
    }

    &-desc{
      padding: 10px 10px 0;
      text-align: left;
      .tc-stars-a{
        color: #000;
      }
    }
  }
}
