<mat-dialog-content>
  <form [formGroup]="form" class="pall20">
    <mat-input-container class="w100p">
      <input formControlName="name" matInput required name="name" placeholder="Name">
      <mat-error *ngIf="form.get('name').errors">Please enter your name</mat-error>
    </mat-input-container>


    <mat-input-container class="w100p">
      <input formControlName="phone" matInput required name="phone" placeholder="Phone">
      <mat-error *ngIf="form.get('phone').errors">Please enter your phone</mat-error>
    </mat-input-container>


    <mat-input-container class="w100p">
      <input formControlName="email" matInput required name="email" placeholder="Email">
      <mat-error *ngIf="form.get('email').errors">Please enter your email</mat-error>
    </mat-input-container>


    <mat-input-container class="w100p">
      <mat-select placeholder="Job Title" formControlName="jobTitle" required>
        <mat-option *ngFor="let item of jobTitle" [value]="item.value">
          {{ item.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('jobTitle').errors">Please add job title</mat-error>
    </mat-input-container>


    <input #fileInput type="file" ng2FileSelect [uploader]="uploader" class="dn"/>
    <mat-form-field class="w100p">
      <input [disabled]="form.get('file').invalid" matInput name="file" placeholder="File" [value]="form.get('file').valid ? form.get('file').value.file.name : ''">
      <div matSuffix>
        <button (click)="clearFiles(fileInput)" *ngIf="form.get('file').valid" matSuffix mat-button color="warn" style="padding: 0; min-width: initial;"><i class="material-icons">clear</i></button>
        <button (click)="addFile(fileInput)" matSuffix mat-raised-button color="accept">Resume upload</button>
      </div>
    </mat-form-field>


    <button (click)="submitForm()" [disabled]="form.invalid" mat-raised-button color="primary" class="w100p">Apply</button>
  </form>
</mat-dialog-content>
