.team{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0 10px 10px;


  &-box{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    transition: all 100ms linear;

    &-bg{
      width: 100px;
      height: 100px;
      background-size: cover !important;
      border-radius: 50%;
      margin: auto;
    }

    &-name{
      color: white;
      font-size: 20px;
      font-weight: 100;
      text-align: center;
    }

    &:hover{
      box-shadow: inset 0 0 30px -10px white;
    }

    &:active{
      box-shadow: inset 0 0 40px -10px white;
    }
  }
}

