<div class="tc-page-wp e-bg">
  <div class="tc-wp-a">
    <div class="tc-title-a">Clinic Awards</div>
    <ul class="tc-ul">
      <li><span class="dibM">1st Place Winner – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ullam?</span></li>
      <li><span class="dibM">1st Place Winner – Lorem ipsum dolor sit amet, adipisicing elit. Ab, ullam?</span></li>
      <li><span class="dibM">1st Place Winner – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab?</span></li>
      <li><span class="dibM">1st Place Winner – Lorem ipsum dolor sit amet, consectetur elit. Ab, ullam?</span></li>
    </ul>

    <div class="tac mb50">
      <ngx-gallery [options]="galleryOptions" [images]="awards"></ngx-gallery>
    </div>
  </div>
</div>
