@import "~scss/var";


.header{
  background: rgba(255, 255, 255, 0.9);

  &-wp{
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    text-align: center;
    align-items: center;
  }

  &-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
  }

  &-main{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 0.8fr;
    text-align: center;
    align-items: center;
  }
}

.logo{
  img{
    height: 36px;
    display: inline-block;
    vertical-align: middle;
  }
  span{
    display: inline-block;
    vertical-align: middle;
    color: $c1;
    font-size: 14px;
    margin: 0 -3px;
  }
}

.time{
  &-a{
    font-size: 28px;
  }
  &-b{
    font-size: 14px;
  }
}

.info{
  position: relative;
  padding: 11px 0 10px;
  &-a{
    font-size: 28px;
    span{
      color: #9e9e9e;
      font-size: 14px;
      transform: translate(-5px, -7px);
      display: inline-block;
    }
  }
  &-b{
    position: relative;
    cursor: pointer;
    z-index: 2;
    transition: all 200ms linear;

    &.active{
      color: white;
    }
  }
  &-pop{
    &-in{
      border: none;
      margin: 2px auto 0;
      width: calc(100% - 4px);
      padding: 1px 5px;
      text-align: center;
      font-size: 15px;
    }
  }
}

.menu{
  &-btn {
    position: relative;
    z-index: 11;
    width: 30px;
    height: 22px;
    transform: rotate(0deg);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: 200ms linear;
    span{
      display: block;
      position: absolute;
      z-index: 1;
      height: 3px;
      width: 100%;
      background: $c1;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 100ms linear;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(4) {
        top: 18px;
      }
    }

    &.active{
      transform: rotate(90deg);
      span{
        &:nth-child(1), &:nth-child(4) {
          top: 9px;
          width: 0;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}












