<div class="header">
  <div class="tc-wp-a header-wp">
    <div class="header-main">
      <a routerLink="" class="logo">
        <span>Tooth</span>

        <app-logo></app-logo>

        <span>Care</span>
      </a>

      <a (click)="appointmentPop()" class="tc-btn-a">
        <span class="tc-btn-a-wp">
          <span class="tc-btn-a-title">Make an</span>
          <span class="tc-btn-a-span">appointment</span>
        </span>
      </a>
      <a routerLink="/diagnosis" routerLinkActive="active" class="tc-btn-a">
        <span class="tc-btn-a-wp">
          <span class="tc-btn-a-title">Diagnosis</span>
          <span class="tc-btn-a-span">online</span>
        </span>
      </a>
      <a routerLink="/login" routerLinkActive="active" class="tc-btn-a">
        <span class="tc-btn-a-wp">
        <i class="material-icons tc-btn-a-title">&#xE0DA;</i>
        </span>
      </a>
    </div>


    <div>
      <div [ngClass]="{active: sideNav.opened}" (click)="toggleSideNav()" class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>


    <div class="header-contacts">
      <div class="time">
        <div class="time-a">09:00-21:00</div>
        <div class="time-b">without breaks and weekends</div>
      </div>

      <div class="info">
        <div class="info-a"><span>+ 971</span> 99-999-999</div>
        <a (click)="callMePop()" class="info-b tc-link-a">Call me</a>
      </div>
    </div>
  </div>
</div>




