<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Visit to Dr.Max</b>
        <span class="ml10">03/01/2018 at 13:30</span>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div class="wp-btw">
      <div class="w50p">
        <div class="mb15">
          <div class="mb10 fw700">Complaints:</div>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, mollitia?</div>
        </div>

        <div class="mb15">
          <div class="mb10 fw700">Diagnosis:</div>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, mollitia?</div>
        </div>
      </div>

      <div class="w50p">
        <div class="mb15">
          <div class="mb10 fw700">Working with teeth:</div>
          <mat-chip-list>
            <mat-chip>3</mat-chip>
            <mat-chip>14</mat-chip>
          </mat-chip-list>
        </div>

        <div class="mb15">
          <div class="mb10 fw700">Type of service:</div>
          <mat-chip-list>
            <mat-chip>Dental implants</mat-chip>
            <mat-chip>X-ray</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Visit to Dr.Vladimir</b>
        <span class="ml10">01/01/2018 at 11:30</span>
      </mat-panel-title>
    </mat-expansion-panel-header>



    <div class="wp-btw">
      <div class="w50p">
        <div class="mb15">
          <div class="mb10 fw700">Complaints:</div>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, mollitia?</div>
        </div>

        <div class="mb15">
          <div class="mb10 fw700">Diagnosis:</div>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, mollitia?</div>
        </div>
      </div>

      <div class="w50p">
        <div class="mb15">
          <div class="mb10 fw700">Working with teeth:</div>
          <mat-chip-list>
            <mat-chip>32</mat-chip>
          </mat-chip-list>
        </div>

        <div class="mb15">
          <div class="mb10 fw700">Type of service:</div>
          <mat-chip-list>
            <mat-chip>Extractions</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
