<div [ngClass]="{menu: menu}" class="e">
  <div class="e-header wp-btw">
    <button (click)="menu = !menu" class="e-header-btn">
      <i *ngIf="!menu" class="material-icons">chevron_left</i>
      <i *ngIf="menu" class="material-icons">chevron_right</i>
    </button>


    <div>
      <button mat-button [matMenuTriggerFor]="settings">
        <i class="material-icons">account_circle</i>
        Max A.
      </button>
      <mat-menu #settings="matMenu">
        <!--<button mat-menu-item>-->
          <!--<span class="wp-btw_cen">-->
            <!--<i class="material-icons mr5">account_circle</i>-->
            <!--<span>Settings</span>-->
          <!--</span>-->
        <!--</button>-->

        <button (click)="logOut()" mat-menu-item>
          <span class="wp-btw_cen">
            <i class="material-icons mr5">exit_to_app</i>
            <span>Logout</span>
          </span>
        </button>
      </mat-menu>

    </div>
  </div>


  <div class="e-wp wp-btw">
    <div class="e-menu">
      <a routerLink="/dashboard/profile" routerLinkActive="active" class="e-menu-link"><i class="material-icons dibM">account_box</i> <span class="dibM">Profile</span></a>
      <a routerLink="/dashboard/calendar" routerLinkActive="active" class="e-menu-link"><i class="material-icons dibM">insert_invitation</i> <span class="dibM">Calendar</span></a>
      <a routerLink="/dashboard/history" routerLinkActive="active" class="e-menu-link"><i class="material-icons dibM">content_paste</i> <span class="dibM">History</span></a>


      <a routerLink="/dashboard/chat" routerLinkActive="active" class="e-menu-link inactive"><i class="material-icons dibM">chat</i> <span class="dibM">Chat</span></a>
      <!--create chanel-->
      <!--https://slack.com/api/channels.create?name=client1-->
      <!--token = xoxp-267383240869-268122685862-288511268529-c36a6dd345ad270d05d2a5fcc9e93f01-->

      <!--send message-->
      <!--https://slack.com/api/chat.postMessage?channel=C7VB9756Z&text=YOYO&pretty=1-->
      <!--token = xoxp-267383240869-268122685862-288511268529-c36a6dd345ad270d05d2a5fcc9e93f01-->



      <a routerLink="/dashboard/settings" routerLinkActive="active" class="e-menu-link inactive"><i class="material-icons dibM">settings</i> <span class="dibM">Settings</span></a>
    </div>


    <div class="e-box">
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
  </div>
</div>

