.e{
  height: 100%;
  background: rgba(255, 255, 255, 0.5);

  &.menu &-menu{
    width: 0;
    opacity: 0;
  }
  &.menu &-box{
    width: 100%;
  }


  &-wp{
    height: calc(100% - 40px);
  }


  &-header{
    grid-area: header;
    background: #37b0e3;
    color: white;
    position: relative;
    box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2);
    text-align: right;
    line-height: 40px;
    height: 40px;

    &-link{
      display: inline-block;
      vertical-align: middle;
      height: 35px;
      margin-right: 15px;
      i{
        font-size: 30px;
        line-height: 30px;
        vertical-align: top;
      }
    }


    &-btn{
      @extend .e-header-link;
      background: none;
      border: none;
      i{
        font-size: 45px;
        line-height: 39px;
      }
    }
  }


  &-menu{
    background: #37b0e3;
    color: white;
    grid-area: menu;
    overflow-y: scroll;
    padding: 10px 0;
    width: 15%;
    height: 100%;
    transition: all 200ms linear;

    &-link{
      display: block;
      white-space: nowrap;
      padding: 10px 15px;
      border-left: 2px solid transparent;
      transition: all 200ms linear;


      i{
        font-size: 16px;
      }

      &:hover, &.active{
        border-left: 2px solid white;
        opacity: 0.7;
      }
    }
  }


  &-box{
    grid-area: box;
    overflow-y: scroll;
    padding: 15px;
    width: 85%;
    height: 100%;
    transition: all 200ms linear;
  }
}

