<div class="tc-page-wp">
  <div class="tc-wp-a">
    <div class="tc-title-a">OUR Services</div>

    <div class="tc-serv">
      <div [routerLink]="['/service', item.id]" *ngFor="let item of services" class="tc-serv-a">
        <div [ngStyle]="{'background': 'url(' + item.img + ') no-repeat center'}" class="tc-serv-a-bg"></div>
        <div class="tc-serv-a-text">{{item.title}}</div>
      </div>
    </div>
  </div>
</div>
