@import "~scss/var";

.logo{
  img{
    height: 36px;
    display: inline-block;
    vertical-align: middle;
  }
  span{
    display: inline-block;
    vertical-align: middle;
    color: $c1;
    font-size: 14px;
    margin: 0 -3px;
  }
}




