:host {
  display: block;
  height: 100%;
}


.e{
  &-bg{
    height: 100%;

    &:after{
      content: '';
      background: url('../../../../assets/i/our_clinic/1.jpg') center no-repeat fixed;
      background-size: cover;
      opacity: 0.1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
