<mat-dialog-content>
  <form [formGroup]="form" class="pall20">
    <mat-input-container class="w100p">
      <input formControlName="name" matInput required name="name" placeholder="Name">
      <mat-error *ngIf="form.get('name').errors">Please enter your name</mat-error>
    </mat-input-container>


    <mat-input-container class="w100p">
      <input formControlName="phone" matInput required name="phone" placeholder="Phone">
      <mat-error *ngIf="form.get('phone').errors">Please enter your phone</mat-error>
    </mat-input-container>


    <mat-input-container class="w100p">
      <input formControlName="email" matInput required name="email" placeholder="Email">
      <mat-error *ngIf="form.get('email').errors">Please enter your email</mat-error>
    </mat-input-container>


    <mat-input-container class="w100p">
      <textarea  formControlName="feedback" matInput required name="feedback" placeholder="Feedback" matTextareaAutosize></textarea>
      <mat-error *ngIf="form.get('feedback').errors">Please enter your feedback</mat-error>
    </mat-input-container>


    <button (click)="submitForm()" [disabled]="form.invalid" mat-raised-button color="primary" class="w100p">Send</button>
  </form>
</mat-dialog-content>
