<div class="tc-wp-a pt30 pb50">
  <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
      <mat-vertical-stepper>
        <mat-step *ngFor="let step of tab.steps; let last = last; let first = first" [completed]="false">
          <ng-template matStepLabel>{{step.label}}</ng-template>
          <img [src]="step.img" alt="" class="w100p">
          <p [innerHTML]="step.text"></p>
        </mat-step>
      </mat-vertical-stepper>
    </mat-tab>
  </mat-tab-group>
</div>







