<form [formGroup]="form" class="tc-pop-b">
  <mat-input-container class="w100p">
    <input formControlName="name" matInput required name="name" placeholder="Name">
    <mat-error *ngIf="form.get('name').errors">Please enter your name</mat-error>
  </mat-input-container>
  <mat-input-container class="w100p">
    <input formControlName="phone" matInput required name="phone" placeholder="Phone">
    <mat-error *ngIf="form.get('phone').errors">Please enter your phone</mat-error>
  </mat-input-container>


  <div class="tac mt10">
    <button (click)="close()" [disabled]="form.invalid" mat-raised-button class="tc-mt-btn-a">Call me</button>
  </div>
</form>
