<div class="tc-page-wp mb50">
  <div class="tc-wp-a">



    <mat-vertical-stepper #stepper>
      <mat-step label="Hello" [completed]="false">
        <div class="tac pt25">
          <h3>To make a diagnosis is necessary to pass a little test and symptoms indicate Indicate that you are concerned about</h3>
        </div>
      </mat-step>

      <mat-step *ngFor="let symptom of symptoms; let index = index" [label]="symptom.name" [completed]="false">
        <div *ngIf="symptom.symptoms[0] != null" class="tc-wp-c pt25">
          <button *ngFor="let item of symptom.symptoms" (click)="addSymptom(item, index)" mat-button class="tc-btn-c">
            {{item.name}}
          </button>
        </div>



        <div *ngIf="symptom.symptoms[0] == null">
          <h1 class="tac">
            <span class="db fsz14">Sounds like</span>
            {{symptom.diagnosis}}
          </h1>

          <p>
            We recommend to make an appointment to see our specialists carry out inspection to determine the exact diagnosis
            and prescribe treatment.
            Complication of endodontic treatment is very serious diagnosis, which can only be made after a comprehensive
            examination and X-ray diagnostics. These problems can arise when non-compliance with treatment protocol,
            sterilization or root canal due to the physiological characteristics of the anatomy canals. Recommended to see a
            doctor for an examination.
            You already know what you need, but there was a number of questions?
          </p>

          <p>
            Get answers to your free consultation to find out about the cost, timing of treatment. With visual demonstration
            models and expert opinion will choose exactly what you need.
          </p>

          <div class="tac mt20">
            <h3>Free</h3>

            <button (click)="appointmentPop()" class="tc-btn-b mt20">
              <span class="tc-btn-b-text">Make an appointment</span>
            </button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>






    <!--<div *ngIf="symptoms[symptoms.length - 1]">-->

    <!--<div class="tc-wp-c">-->
    <!--<button *ngFor="let item of symptoms[symptoms.length - 1]" (click)="setSymptom(item.symptoms)" class="tc-btn-c">-->
    <!--{{item.symptom}}-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->



    <!--result-->
    <!--<div *ngIf="!symptoms[symptoms.length - 1]">-->
      <!--<h1 class="tac">-->
        <!--Most likely you <br>-->
        <!--Complication of endodontic treatment-->
      <!--</h1>-->

      <!--<p>-->
        <!--We recommend to make an appointment to see our specialists carry out inspection to determine the exact diagnosis-->
        <!--and prescribe treatment.-->
        <!--Complication of endodontic treatment is very serious diagnosis, which can only be made after a comprehensive-->
        <!--examination and X-ray diagnostics. These problems can arise when non-compliance with treatment protocol,-->
        <!--sterilization or root canal due to the physiological characteristics of the anatomy canals. Recommended to see a-->
        <!--doctor for an examination.-->
        <!--You already know what you need, but there was a number of questions?-->
      <!--</p>-->

      <!--<p>-->
        <!--Get answers to your free consultation to find out about the cost, timing of treatment. With visual demonstration-->
        <!--models and expert opinion will choose exactly what you need.-->
      <!--</p>-->

      <!--<div class="tac">-->
        <!--<h2>Free</h2>-->

        <!--<button (click)="appointmentPop()" class="tc-btn-b mt30">-->
          <!--<span class="tc-btn-b-text">Make an appointment</span>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->



    <!--<button *ngIf="this.symptoms[1]" (click)="backSymptom()" class="tc-btn-a">BACK</button>-->
    <!--<button *ngIf="!symptoms[symptoms.length - 1]" (click)="resetSymptoms()" class="tc-btn-a">Take the test again</button>-->
  </div>
</div>


