<div class="tc-page-wp e-bg">
  <div class="tc-wp-a pb50">
    <div class="tc-title-a">Dubai Clinic</div>
    <div class="tac"><ngx-gallery [options]="galleryOptions" [images]="skyClinic"></ngx-gallery></div>



    <div class="tc-title-a mt40">Our Passion</div>
    <div class="tac"><ngx-gallery [options]="galleryOptions" [images]="ourPassion"></ngx-gallery></div>
  </div>
</div>
