@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('http://weloveiconfonts.com/api/?family=zocial|fontawesome');
//////////////////////////////////////////////////////////////////////////////

@keyframes line {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 800;
  }
}

@keyframes pop {
  0%{
    display: none;
    opacity: 0;
  }
  1%{
    display: block;
  }
  100%{
    opacity: 1;
  }
}

@keyframes pop-a {
  0%{
    display: none;
    opacity: 0;
    transform: scale(0.9);
  }
  1%{
    display: block;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

//////////////////////////////////////////////////////////////////////////////
::-webkit-scrollbar { width: 5px !important; height: 5px !important; background: transparent !important;}
::-webkit-scrollbar-thumb,
::-webkit-resizer,
::-webkit-scrollbar-corner { background: #349cce !important;}

//::-webkit-scrollbar-track {  background: transparent !important;}
//::-webkit-scrollbar-track-piece { background: transparent !important;}


body, button{
  all: unset;
}

body{
  margin: 0;
  color: $c6;
  font-family: 'Roboto', sans-serif;
  background: url('assets/i/bg.png');

  &.popupOpen{
    overflow: hidden;
  }
}

app-root, body, html{
  position: relative;
  display: block;
  height: 100%;
}

[data-tc-tooltip]{
  position: relative;

  &:after{
    content: attr(data-tc-tooltip);
    position: absolute;
    left: 50%;
    top: 0;
    background: $c2;
    color: #ffffff;
    opacity: 0;
    font-size: 14px;
    border-radius: 2px;
    padding: 5px 15px;
    white-space: nowrap;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    transform: translateX(-50%) translateY(-10px);
    transition: all 200ms linear;
  }

  &:hover{
    &:after{
      transform: translateX(-50%) translateY(-40px);
      opacity: 1;
    }
  }
}

.inactive-hr {
  pointer-events: none;
  opacity: 0.5;
  background: #bc8585;
  border: none !important;
}

.tc{
  &-bg{
    &-a{
      background: url('assets/i/bg.png'), $c6;
      color: white;
    }
  }

  &-box{
    text-align: center;
    height: 40px;
    padding: 0 20px;
  }

  &-logo{
    width: 140px;
    height: 200px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &-line path{
      stroke: $c1;
      stroke-width: 2;
      fill: none;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      animation: line 2s linear infinite;
    }

    &-a{
      width: 45px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
      &-line path{
        stroke: $c1;
        stroke-width: 6;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        animation: line 3s linear infinite;
        transition: all 200ms linear;
      }

      &:hover{
        .tc-logo-a-line path{
          stroke-dasharray: 80;
        }
      }
    }

    &-b{
      @extend .tc-logo-a;
      width: 20px;
      height: 30px;
      &-line path{
        stroke: $c1;
        stroke-width: 15px;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        animation: line 3s linear infinite;
        transition: all 200ms linear;
      }
    }
  }

  &-wp{
    &-a{
      width: 1080px;
      margin: 0 auto;
    }

    &-b{}

    &-c{
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
    }
  }

  &-header{
    grid-area: header;
    display: block;
    min-height: 74px;
    position: relative;
    z-index: 10;
  }

  &-link{
    &-a{
      color: $c1;
      text-decoration: none;
      font-size: 14px;
    }
  }

  &-btn{
    &-cal{
      position: relative;
      display: inline-block;
      color: white;
      border-radius: 25px;
      padding: 0;
      width: 35px;
      font-size: 14px;
      font-weight: 100;
      text-align: center;
      border: none;
      cursor: pointer;
      transition: all 100ms linear;

      &-day{
        font-size: 14px;
      }

      &-week{
        font-weight: 100;
        font-size: 12px;
      }

      &-mun {
        position: absolute;
        right: -2px;
        top: -2px;
        background: white;
        color: $c2;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
      }

      &.active {
        font-weight: bold;
        padding: 5px 0;
      }
    }

    &-a{
      position: relative;
      overflow: hidden;
      color: $c6;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      min-height: 75px;
      transition: all 200ms linear;
      &:after {
        content: '';
        position: absolute;
        background: none repeat scroll 0 0 #fff;
        left: 50%;
        top: 50%;
        z-index: 0;
        width: 0;
        height: 0;
        border-radius: 0;
        opacity: .5;
        transform: translateX(-50%) translateY(-50%);
        transition: all 300ms linear;
      }

      &-wp{
        z-index: 1;
      }


      &-title{
        display: block;
        font-size: 18px;
      }

      &-span{
        font-size: 14px;
      }

      &:hover, &.active{
        color: white;
        &:after {
          background: $c1;
          height: 200%;
          width: 200%;
          border-radius: 50%;
          opacity: 1;
        }
      }
    }

    &-b{
      position: relative;
      text-transform: uppercase;
      overflow: hidden;
      padding: 10px 40px;
      cursor: pointer;
      font-size: 20px;
      background: transparent;
      border: 2px solid $c1;
      color: $c1;
      transition: all 200ms linear;
      &-text{
        position: relative;
        z-index: 1;
      }

      &:after {
        content: '';
        position: absolute;
        background: $c1;
        left: 50%;
        top: 50%;
        z-index: 0;
        width: 0;
        height: 0;
        border-radius: 0;
        opacity: .5;
        transform: translateX(-50%) translateY(-50%);
        transition: all 300ms linear;
      }

      &:hover {
        color: white;
        &:after {
          height: 200%;
          width: 200%;
          border-radius: 50%;
          opacity: 1;
        }
      }

      &:active{
        transform: scale(0.98);
        transition: all 50ms linear;
      }
    }

    &-c{
      width: 100%;
      margin: 5px 0;
      position: relative;
      text-transform: uppercase;
      overflow: hidden;
      padding: 5px 20px;
      cursor: pointer;
      font-size: 20px;
      background: transparent;
      border: transparent;
      color: $c1;
      transition: all 200ms linear;

      .mat-button-wrapper{
        white-space: initial;
      }

      &:hover {
        background: $c1;
        color: white;
      }

      &:active{
        transition: all 50ms linear;
      }
    }
  }

  &-page{
    &-wp{
      padding: 30px 0 0;
    }
  }

  &-serv{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 40px;
    justify-content: center;
    padding: 0 0 90px;
    &-a{
      width: 200px;
      height: 200px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      transition: all 300ms linear;
      &-bg{
        width: 100%;
        height: 100%;
        background-size: cover !important;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          z-index: 1;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transform: scale(.5);
          border-radius: 50%;
          transition: all 200ms linear;
        }
      }
      &-text{
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $c1;
        font-size: 24px;
        font-weight: 700;
        opacity: 0;
        transition: all 100ms linear;
      }

      &:hover{
        .tc-serv-a{
          &-bg{
            &:after{
              opacity: 1;
              transform: scale(1);
              border-radius: 0;
            }
          }


          &-text{
            opacity: 1;
            transition: all 100ms linear 200ms;
          }
        }
      }
    }
  }

  &-team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-content: center;
    &-a{
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      padding: 15px;
      cursor: pointer;
      position: relative;
      transition: all 300ms linear;
      &-bg{
        width: 100%;
        height: 340px;
        background-size: cover !important;
        position: relative;
      }
      &-text{
        text-align: center;
        padding: 15px 0 0;
        font-size: 24px;
        font-weight: 100;
      }
      &-info{
        text-align: center;
        font-size: 0;
        transition: all 300ms linear;
      }

      &:hover{
        box-shadow: 0 0 25px 0 #bfbfbf;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px;

        .tc-team-a{
          &-info{
            font-size: 18px;
          }
        }
      }
    }
  }

  &-hr{
    &-a{
      height: 20px;
      margin: 0 0 15px;
      position: relative;
      outline: 0;
      border: 0;
      text-align: center;
      &:before {
        content: '';
        background: linear-gradient(to right, transparent, $c1, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
      }
    }

    &-b{
      @extend .tc-hr-a;
      &:before {
        background: linear-gradient(to right, transparent, white, transparent);
      }
    }
  }

  &-abz{
    &:first-letter {
      margin: 0 0 0 20px;
    }
  }

  &-title{
    &-a{
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 22px;
      color: $c1;
      &:after{
        content: '';
        margin: 15px 0;
        display: block;
        background: linear-gradient(to right, transparent, $c1, transparent);
        width: 100%;
        height: 1px;
      }
    }

    &-b{
      @extend .tc-title-a;
      color: white;
      &:after {
        background: linear-gradient(to right, transparent, white, transparent);
      }
    }

    &-c{
      font-family: 'Baloo', cursive;
      color: $c1;
      font-size: 18px;
      text-align: center;
      margin: 0 0 5px;
    }
  }

  &-pop{
    &-wp{
      position: fixed;
      z-index: 100;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: none;
      overflow-y: scroll;
      &:after{
        content: '';
        background: rgba(255, 255, 255, 0.8);
        position: fixed;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 300ms linear;
      }


      &.active{
        display: block;
        animation: pop 300ms linear forwards;

        &:after{
          opacity: 1;
        }

        .tc-pop{
          &-a{
            display: block;
            animation: pop-a 300ms linear forwards;
          }


          &-close{
            opacity: 1;
          }
        }
      }

      &-a{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $c1;
        perspective: 1000px;
        transform-origin: 50% 0;
        transform: rotateX(-90deg);
        transition: all 200ms linear;

        &.active{
          transform: rotateX(0deg) perspective(1000px);
        }
      }

      &-b{
        background: $c2;
        position: fixed;
        overflow: scroll;
        display: grid;
        grid-template-areas:
          ". . ."
          ". a ."
          ". . .";
        align-content: center;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        perspective: 700px;
        transform-origin: 50% 100%;
        transform: rotateX(90deg);
        transition: all 500ms ease;
        &.active{
          transform: rotateX(0deg) perspective(700px);
        }
      }

      &-c{
        @extend .tc-pop-wp-a;

        &.active{
          transform: rotateX(0deg) perspective(200px);
        }
      }
    }

    &-a{
      width: 800px;
      margin: 0;
      overflow-y: scroll;
      position: relative;
      z-index: 1;
      background: $c1;
      color: white;
      transition: all 500ms ease 100ms;
    }

    &-b{
      width: 300px;
      padding: 20px;
    }

    &-close{
      position: absolute;
      z-index: 1;
      left: 0;
      top: 7px;
      color: white;
      font-size: 50px;
      cursor: pointer;
      transition: all 300ms linear;
    }
  }

  &-stars{
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    &-a{
      font-size: 30px;
      line-height: 12px;
      padding: 5px;
      color: white;
      cursor: pointer;
      display: inline-block;
      transition: all 50ms linear;

      &--b{
        @extend .tc-stars-a;
        color: $c1;
        cursor: default;
      }
    }

    &:not(.vote-cast):hover &-a:hover ~ &-a,
    .vote-cast &-a.selected ~ &-a{
      color: white;
    }

    &:not(.vote-cast):hover &-a--b:hover ~ &-a--b,
    .vote-cast &-a--b.selected ~ &-a--b{
      color: $c1;
    }


    &.vote-cast .tc-stars-a{
      color: $c1;
    }
    &:hover &-a{
      color: $c1;
    }
  }

  &-in{
    position: relative;
    display: block;
    margin: 20px 0 0;
    &-title{
      color: white;
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
    &-input{
      width: 300px;
      padding: 10px 15px;
      font-size: 20px;
      text-align: center;
      color: white;
      border: 2px solid $c1;
      background: transparent;
      transition: all .15s linear;

      &:hover{
        border: 2px solid transparent;
        border-bottom: 2px solid $c1;
      }

      &:focus{
        border: 2px solid transparent;
        + .tc-in-sep{
          transform: scaleX(1) translateY(-2px);
          opacity: 1;
        }
      }
    }
    &-sep{
      height:3px;
      width: 100%;
      background: $c1;
      display: block;
      transform: scaleX(0) translateY(-2px);
      transform-origin: 50%;
      opacity: 0;
      transition: all .15s linear;
    }
  }

  &-mt{
    &-btn{
      &-a{
        background: #37b0e3;
        color: white !important;
      }
    }
  }

  &-h{
    &3{
      color: #212121;
      font-size: 24px;
      font-weight: lighter;
      margin: 0 0 5px;
    }
  }

  &-ul{
    text-align: center;
    li{
      padding: 5px 0;
      list-style: none;
      &:before{
        content: '';
        background: url('assets/i/awards/award.png') 0 0 no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
      }
    }
  }
}


//back/////////////////////////////////////////////
.tc{

  &-card{
    &-shadow{
      background: #fff;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    &-a{
      @extend .tc-card-shadow;
      padding: 20px;
      margin: 0 0 20px;
    }
  }

  &-list{
    &-item{
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.04em;
      text-decoration: inherit;
      text-transform: inherit;
      color: rgba(0, 0, 0, 0.87);
      margin: 0;
      padding: 0;
      line-height: 1.5rem;
      list-style-type: none;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 48px;

      i{
        width: 24px;
        height: 24px;
        margin-left: 0;
        margin-right: 20px;
      }

      &-tooth{
        width: 30px;
        margin-right: 15px;
      }

      &-a{
        @extend .tc-list-item;
        height: 55px;

        &-text{
          display: inline-flex;
          flex-direction: column;
          line-height: 1.1rem;
        }
      }
    }
  }

  &-svg{
    display: inline-block;
    vertical-align: middle;
    svg{
      width: 25px;
      height: 25px;
    }

    &-a{
      svg, path{
        width: 40px;
        height: 40px;
        fill: #CACACA;
      }

      &.logo{
        svg, path{
          width: 35px;
          height: 35px;
        }
      }

      &.active{
        path{
          stroke: #448AFF;
          stroke-width: 5;
          fill: #448AFF;
          stroke-dasharray: 500;
          stroke-dashoffset: 500;
          animation: line 2s linear infinite;
        }
      }


      &.blue{
        svg, path{
          fill: #448AFF;
        }
      }
    }

    &.white{
      svg{
        fill: white;
        stroke: #000000;
        stroke-width: 2px;
      }
    }

    &.gray{
      svg{
        fill: rgba(202, 202, 202, 0.6);
      }
    }

    &.blue{
      svg{
        fill: rgba(68, 138, 255, 0.6);
      }
    }
  }

}
