:host { display: block; }

.serv{
  &-desc{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: right;
    &-img{
      width: 200px;
      height: 200px;
      background-size: cover !important;
      position: relative;
      border-radius: 5px;
    }

    &-text{
      font-size: 40px;
      font-weight: 100;
      padding: 0 20px;
    }
  }
}
