<div class="tc-wp-a pt30 pb50">
  <div class="tc-title-a">{{service.title}}</div>

  <div [innerHTML]="service.description"></div>

  <div *ngIf="service.gallery.length" class="pt30">
    <div class="tc-title-a">Gallery</div>


    <div *ngFor="let item of service.gallery">
      <img [src]="item" alt="">
    </div>
  </div>
</div>



